.product-container {
    background-color: #f8f8f8;
    display: flex;
    margin-top: 5rem;
}

.filters {
    width: 20%;
    position: sticky;
    top: 0;
    height: 100vh;
}

.filters:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 2px;
    background-color: grey;
}

.products-container {
    width: 80%;
    margin-left: 3rem;
}
  

.products-container h1 {
    margin-left: 2rem;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    list-style: none;
}

@media (max-width: 868px) {
    .product-container {
        position: relative;
    }
    .filters {
        width: 300px;
        position: fixed;
        left: -100%;
        top: 0;
        height: 100vh;
        background-color: rgba(222, 210, 210, 0.8); 
        z-index: 10;
        /* overflow-y: auto; */
        transition: left 0.3s ease-in-out;
    }
    .show-filters {
        left: 0;
        position: sticky;
    }
    .products-container {
        /* position: absolute; */
        border: 2px solid red;
        width: 100%;
        margin-left: 0;
        /* z-index: 0; */
    }

    .show-filters ~ .products-container {
        /* filter: blur(5px); */
        /* position: absolute; */
        pointer-events: none;
    }
}

@media (max-width: 628px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 446px) {
    .products {
        grid-template-columns: repeat(1, 1fr);
    }
}


  