.product-container {
    background-color: #f8f8f8;
    display: flex;
}

.filters {
    width: 20%;
    position: sticky;
    top: 0;
    height: 100vh;
}

.filters:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 2px;
    background-color: grey;
}

.products-container {
    width: 80%;
    margin-left: 3rem;
}
  

.products-container h1 {
    margin-left: 2rem;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    list-style: none;
}

@media (max-width: 868px) {
    .filters {
        display: none;
    }
    .products-container {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 628px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 446px) {
    .products {
        grid-template-columns: repeat(1, 1fr);
    }
}


  