.wishlist-container {
    margin-top: 5rem;
    min-height: 30rem;
}

.wishlist-header {
  text-align: center;
  margin-top: 10rem;
}

.empty-wishlist {
  margin-top: 2rem;
    text-align: center;
}

.toast-success {
    background-color: #4caf50;
    color: #ffffff;
  }
  
  .toast-success .Toastify__progress-bar {
    background-color: #ffffff;
  }
  
  .toast-error {
    background-color: red;
    color: #ffffff;
  }
  
  .toast-progress {
    background-color: #ffffff;
  }
  
  .card-container {
      /* width: 100%;
      margin: 0 auto; */
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: auto;
      background-color: #f8f8f8;
  }
  
  .wishlist-card-container {
      position: relative;
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) 
    }
    
   .delete-icon {
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: white;
    cursor: pointer;
   }
  
    .img-container {
      position: relative;
      width: 50%;
    }
    
    .custom-product-img {
      width: 12.5rem;
      margin: 2rem;
      object-fit: cover;
    }
  
    .custom-best-seller {
      position: absolute;
      top: 15%;
      left: 1rem;
      z-index: 1;
      padding: 0.2rem;
      background-color: #ff9800;
      transform: rotate(-45deg);
    }
    
    .custom-best-seller-text {
      color: #fff;
      font-size: 0.8rem;
      font-weight: bold;
      text-transform: uppercase;
      transform: rotate(45deg);
    }
    
    .custom-product-details {
      width: 50%;
      text-align: left;
      margin: 0.5rem 2rem;
    }
  
    .custom-product-header {
      margin-bottom: 0.5rem;
    }
    
    .custom-product-rating {
      margin-bottom: 0.2rem;
    }
    
    .custom-star {
      color: #ccc;
      margin-right: 0.125rem;
    }
    
    .filled {
      color: gold;
    }
    
    .custom-product-price {
      font-size: 1.1rem;
      color: #000;
      margin-bottom: 2rem;
      margin-top: 0.5rem;
    }
  
    .custom-current-price {
      margin-right: 0.5rem;
    }
  
    .custom-original-price {
      color: #888;
      text-decoration: line-through;
      margin-right: 0.5rem;
    }
  
    .custom-discount {
      color: #329932;
      font-size: 1.2rem;
    }
    
    .custom-product-icons {
      display: flex;
      align-items: flex-start;
      margin-top: 0.2rem;
      font-size: 0.9rem;
    }
    
    .custom-icon {
      margin-right: 0.1rem;
    }
    
    .custom-icon-text {
      margin-bottom: 0.1rem;
    }
    
    .custom-product-info {
      font-size: 0.9rem;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
    }
    
    .info-container {
      margin-bottom: 0.5rem;
    }
  
    .info {
      display: inline;
      color: blue;
      margin-left: 0.3rem;
      margin-bottom: 0.3rem;
    }
  
    .disable-btn {
      pointer-events: none;
      cursor: not-allowed;
    }
  
    .wishlist-cart-btn {
        width: 100%;
      display: flex;
      padding: 0.8rem 1.2rem;
      border-radius: 0.4rem;
      align-items: center;
      justify-content: center;
      border: none;
      color: #fff;
      background-color: #007bff;
      cursor: pointer;
    }
  
    .wishlist-cart-btn:hover {
      background-color: #0056b3;
    }
  
    .custom-wishlist-btn:hover {
      background-color: grey;
    }
  
    @media (max-width: 868px) {
      .card-container {
          height: auto;
      }
      .custom-card-container {
          width: 80%;
      }
    }
  
    @media (max-width: 628px) {
      .custom-card-container {
          flex-direction: column;
          width: 70%;
      }
      .img-container {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
      }
      .custom-product-img {
          width: 80%;
          height: 15rem;
      }
      .custom-product-details {
          width: 100%;
      }
      .custom-product-header {
          font-size: 1.1rem;
          margin-top: 0;
          text-align: center;
      }
      .custom-product-rating {
          text-align: center;
      }
      .custom-product-details {
          text-align: left;
      }
      .custom-product-buttons {
          flex-direction: column;
      }
      .custom-cart-btn {
          width: 100%;
      }
      .custom-product-price {
          text-align: center;
      }
    }