.product-card {
    position: relative;
    width: 15rem;
    padding: 0.3rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .product-link {
    text-decoration: none;
}

  .product-card.out-of-stock {
    background-color: rgb(54, 69, 79);
    cursor: not-allowed;
  }

  .product-card.out-of-stock img {
    opacity: 0.5;
  }

  .product-card.out-of-stock .product-rating {
    opacity: 0.5;
  }

  .product-card.out-of-stock div .cart-button {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .product-card.out-of-stock div .cart-button:hover {
    background-color: #007bff;
  }

  .product-card.out-of-stock .heart-icon:hover {
    color: grey;
  }

  .product-card.out-of-stock .best-seller {
    opacity: 0.7;
  }

  .best-seller {
    position: absolute;
    top: 7%;
    left: -0.5rem;
    z-index: 1;
    padding: 0.2rem;
    background-color: #ff9800;
    transform: rotate(-45deg);
  }
  
  .best-seller-text {
    color: #fff;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    transform: rotate(45deg);
  }

  .heart-icon {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    color: grey;
  }

  .heart-icon:hover {
    color: red;
  }

  .product-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .product-image img {
    width: 60%;
    margin: 0 auto;
    height: auto;
  }

  .product-details {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .product-name {
    font-size: 1.1rem;
    color: #000;
    margin-bottom: 0rem;
  }
  
  .product-author {
    font-size: 1.1rem;
    color: #888;
    margin-top: 0;
    margin-bottom: 0.2rem;
  }
  
  .product-price {
    font-size: 1.1rem;
    color: #000;
    margin-bottom: 0.5rem;
  }
  
  .current-price {
    margin-right: 0.5rem;
  }
  
  .original-price {
    color: #888;
    text-decoration: line-through;
    margin-right: 0.5rem;
  }
  
  .discount {
    color: #329932;
    font-size: 1.2rem;
  }
  
  .product-rating {
    margin-bottom: 0.2rem;
    text-align: center;
  }
  
  .fa-star {
    margin-right: 0.2rem;
    color: black;
  }
  
  .fa-star.filled {
    color: #ffc107;
  }
  
  .cart-button {
    display: block;
    width: 70%;
    margin: 0 auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.6rem 1.2rem;
    margin-bottom: 0.3rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .product-card.out-of-stock .card-button {
    cursor: not-allowed;
  }
  
  .cart-button:hover {
    background-color: #0056b3;
  }

  .product-card.out-of-stock .card-button:hover {
    pointer-events: none;
  }

  .sold-out {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
  }

@media (max-width: 868px) {
  .product-card {
    width: 70%;
    margin: 0 auto;
  }
}