.carousel {
    position: relative;
    width: 100%;
    height: 36rem;
    margin-top: 5rem;
  }
  
  .carousel-content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    z-index: 2;
    color: white;
    text-align: left;
    width: 90%;
  }
  
  .carousel-content h1 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }
  
  .carousel-content p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    width: 30%;
  }
  
  .carousel-button {
    text-decoration: none;
    padding: 1rem 2rem;
    background-color: red;
    color: white;
    border: none;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .carousel-button:hover {
    background-color: var(--primary-background-color);
  }
  
  .carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .slide-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .slide-image.active {
    opacity: 0.7;
  }

  .carousel-arrow.right {
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
  }

  .carousel-arrow.left {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
  }

  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2.4rem;
    cursor: pointer;
    margin: 0 1rem;
  }
  
  .carousel-dots {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .dot {
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem;
    color: var(--primary-color);
    font-size: 1.6rem;
    cursor: pointer;
  }
  
  .dot.active {
    color: yellow;
  }

  @media (max-width: 540px) {
    .carousel-content {
        top: 30%;
        left: 5%;
    }
    .arrow {
        display: none;
    }
    .carousel-content p {
        width: 50%;
        font-size: 1.3rem;
    }
    .carousel-content h1 {
        font-size: 2.1rem;
    }
    .carousel-button {
        font-size: 1.1rem;
    }
  }
  