.profile-container {
    min-height: 100vh;
}

.profile-header {
    margin-top: 10rem;
    text-align: center;
}

.main-container {
    position: relative;
    margin-top: 0.5rem;
    margin: 0 auto;
    margin-bottom: 3rem;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) 
  }

  .profile-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
  }

  .profile-btns button {
    width: 50%;
    margin: 0 auto;
    color: black;
    background-color: aliceblue;
    border: none;
    font-size: 1.2rem;
    padding: 0.7rem 1.2rem;
    margin-bottom: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .profile-btns .selected {
    color: aliceblue;
    background-color: black;
  }

  .profile-btns button:hover {
    background-color: black;
    color: aliceblue;
  }

  .profile-divider {
    width: 100%;
    height: 2px;
    margin: 0;
    background-color: #000;
  }

  .profile-details {
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  .profile-details h3 {
    margin-bottom: 0;
  }

  .profile-line {
    width: 30%;
    height: 2px;
    padding: 0;
    margin-top: 0;
    background-color: #000;
  }

  .user-details {
    margin-top: 2rem;
  }

  .user-info {
    margin-bottom: 1rem;
  }

  .attribute {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .value {
    margin-left: 2rem;
  }

  .logout-btn {
    width: 40%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 0.7rem 1.2rem;
    cursor: pointer;
    color: white;
    font-size: 1.1rem;
    background-color: red;
    border: none;
    border-radius: 0.4rem;
  }

  .logout-btn:hover {
    background-color: rgb(139, 0, 0);
  }

  .address-detail {
    min-height: 10rem;
    margin-left: 2rem;
  }

  .address-header {
    margin-bottom: 0;
  }

  .new-address-btn {
    width: 60%;
    margin-left: 1rem;
    margin-bottom: 1.2rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.4rem;
    padding: 0.7rem 1rem;
    color: white;
    cursor: pointer;
    background-color: red;
  }

  .new-address-btn:hover {
    background-color: rgb(139, 0, 0);
  }

  .addresses-container {
    list-style: none;
  }

  .address-container h2 {
    margin-bottom: 0.4rem;
  }

  .address-container p {
    margin: 0.2rem;
  }

  .edit-address-btn {
    margin-top: 1rem;
    width: 20%;
    border-radius: 0.4rem;
    padding: 0.3rem;
    margin-right: 0.5rem;
    color: black;
    background-color: aliceblue;
    border: 1px solid black;
    cursor: pointer;
  }
  .remove-address-btn {
    margin-top: 1rem;
    width: 32%;
    border-radius: 0.4rem;
    padding: 0.3rem;
    margin-right: 0.5rem;
    color: red;
    background-color: aliceblue;
    border: 1px solid red;
    cursor: pointer;
  }

  .edit-address-btn:hover {
    background-color: grey;
  }

  .remove-address-btn:hover {
    color: white;
    background-color: rgb(201, 13, 13);
  }

  .address-form {
    text-align: center;
  }

  .address-form input {
    display: block;
    font-size: 1.2rem;
    width: 80%;
    margin: 1.5rem auto;
    padding: 0.2rem;
  }

  .cancel-btn {
    margin-top: 1rem;
    width: 20%;
    border-radius: 0.4rem;
    padding: 0.3rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
    color: black;
    background-color: aliceblue;
    border: 1px solid black;
    cursor: pointer;
  }

  .cancel-btn:hover {
    background-color: grey;
  }

  .save-address-btn {
    margin-top: 1rem;
    width: 20%;
    border-radius: 0.4rem;
    padding: 0.3rem;
    margin-right: 2rem;
    color: red;
    background-color: aliceblue;
    border: 1px solid red;
    cursor: pointer;
  }

  .save-address-btn:hover {
    color: white;
    background-color: rgb(201, 13, 13);
  }

  @media (max-width: 857px) {
    .main-container {
        width: 60%;
        margin-bottom: 2rem;
    }
    .edit-address-btn {
        width: 30%;
    }
    .remove-address-btn {
        width: 40%;
    }
  }

  @media (max-width: 550px) {
    .main-container {
        width: 80%;
    }
  }
