.nav-container {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
    margin-top: 0rem;
    background-color: black;
    overflow: hidden;
}

.hamburger-icon {
    display: none;
    color: white;
    position: absolute;
    top: 3rem;
    left: 0.5rem;
  }

.navbar {
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    margin-top: 2rem;
}

.link {
    text-decoration: none;
    color: aliceblue;
}

.nav-header {
    color: aliceblue;
    font-size: 1.8rem;
    margin-top: 0rem;
    margin-left: 8rem;
}

.nav-search {
    width: 20rem;
}

.nav-search input {
    width: 100%;
    border-radius: 2rem;
    padding: 0.5rem 0.8rem;
}

input::placeholder {
    text-align: left;
}


.nav-icons {
    display: flex;
    list-style: none;
    margin-top: 0;
    margin-right: 10rem;
    cursor: pointer;
}

.nav-icons li {
    padding: 0 0.5rem;
}

.cart-icon {
    position: relative;
}

.wishlist-icon {
    position: relative;
}

.item-count {
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 3rem;
    padding: 0.1rem 0.3rem;
    margin-left: 2rem;
    color: black;
    background-color: white;
    border-radius: 50%;
}

/* Media queries for responsiveness */
@media (max-width: 868px) {
    .hamburger-icon {
         display: inline;
         top: 1rem; 
    }
    .nav-header {
        margin-left: 4rem;
    }
    .nav-icons {
        margin-right: 2rem;
    }
}

@media (max-width: 768px) {
    .nav-header {
        margin-left: 3rem;
    }
    .nav-icons {
        margin-right: 2rem;
    }
    .nav-icons li {
        padding: 0.3rem 0.2rem;
    }
    .nav-search {
        position: relative;
      }

      .search-form {
        display: block;
        position: absolute;
        margin-left: 2rem;
        width: 12rem;
        top: 10%;
      }
  }

@media (max-width: 628px) {
    .search-form {
        margin-top: 2rem;
        
    }
}

@media (max-width: 360px) {
    .search-form {
        width: 10rem;
    }
}

@media (max-width: 324px) {
    .search-form {
        width: 7rem;
    }
}