.toast-success {
  background-color: #4caf50;
  color: #ffffff;
}

.toast-success .Toastify__progress-bar {
  background-color: #ffffff;
}

.toast-error {
  background-color: red;
  color: #ffffff;
}

.toast-progress {
  background-color: #ffffff;
}


.login-header {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .login-form {
    width: 30%;
  }
  
  .login-label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
  
  .login-input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
  }
  
  .login-button {
    display: block;
    width: 108%;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #4caf50;
    margin-bottom: 1rem;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #45a049;
  }
  
  .guest-login-button {
    display: block;
    width: 108%;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1rem;
  }
  
  .guest-login-button:hover {
    background-color: #45a049;
  }
  
  .login-signup-link {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  
  .blue-link {
    color: blue;
    text-decoration: none;
  }
  
  .blue-link:hover {
    text-decoration: underline;
  }

  @media (max-width: 750px) {
    .login-form {
        width: 50%;
    }
  }


  