.profile-container {
    min-height: 100vh;
}

.profile-header {
    margin-top: 10rem;
    text-align: center;
}

.main-container {
    position: relative;
    margin-top: 0.5rem;
    margin: 0 auto;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) 
  }

  .profile-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
  }

  .profile-btns button {
    width: 50%;
    margin: 0 auto;
    color: black;
    background-color: aliceblue;
    border: none;
    font-size: 1.2rem;
    padding: 0.7rem 1.2rem;
    margin-bottom: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .profile-btns .selected {
    color: aliceblue;
    background-color: black;
  }

  .profile-btns button:hover {
    background-color: black;
    color: aliceblue;
  }

  .profile-divider {
    width: 100%;
    height: 2px;
    margin: 0;
    background-color: #000;
  }

  .profile-details {
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  .profile-details h3 {
    margin-bottom: 0;
  }

  .profile-line {
    width: 30%;
    height: 2px;
    padding: 0;
    margin-top: 0;
    background-color: #000;
  }

  .user-details {
    margin-top: 2rem;
  }

  .user-info {
    margin-bottom: 1rem;
  }

  .attribute {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .value {
    margin-left: 2rem;
  }

  .logout-btn {
    width: 40%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 0.7rem 1.2rem;
    cursor: pointer;
    color: white;
    font-size: 1.1rem;
    background-color: red;
    border: none;
    border-radius: 0.4rem;
  }

  .logout-btn:hover {
    background-color: rgb(139, 0, 0);
  }

